@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@layer utilities{
    .section-min-height{
        min-height: calc(100vh - 64px);
    }

    .toggle-btn{
        @apply [&>div]:bg-transparent [&>div]:rotate-[720deg] [&>div::before]:rotate-45 [&>div::after]:-rotate-45 
    }
}
